
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  color: #343a40;
  line-height: 1;
  display: flex;
  justify-content: center;
}
.table-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  width: 800px;
  text-align: start;
}

.header {
  background-color: #1e7e34;
  color: white;
  padding: 20px;
  font-weight: bold;
}

.row {
  background-color: #f1f1f1;
  padding: 20px;
  font-weight: bold;
}

.cell {
  padding: 20px;
}